root = true

# Unix-style newlines with a newline ending every file
[*]
indent_size = 4
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Tab indentation (no size specified)
[Makefile]
indent_style = tab

[{CMakeLists.txt,*.cmake,*.rst,*.json,*.yml,*.yaml}]
indent_size = 2

[*.sc]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
