[submodule "deps/bgfx"]
	path = deps/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "deps/bx"]
	path = deps/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "deps/bimg"]
	path = deps/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "deps/iconfontcppheaders"]
	path = deps/iconfontcppheaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm.git
