name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  job:
    name: ${{ matrix.os }}-${{ matrix.buildtype }}
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.os == 'ubuntu-24.04' && 'robinwils/wato-build-ubuntu-24.04' || null }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, macos-15, windows-2022]
        buildtype: [debug, release]
        include:
          - os: ubuntu-24.04
            compiler: gcc
            preset: unixlike
          - os: macos-15
            compiler: clang
            preset: unixlike
          - os: windows-2022
            compiler: msvc
            preset: windows
    defaults:
      run:
        shell: bash
    env:
      CMAKE_PRESET: ${{ matrix.preset }}-${{ matrix.compiler }}-${{ matrix.buildtype }}

    steps:
      - name: Setup environment
        run: |
          echo "GITHUB_WORKSPACE=$GITHUB_WORKSPACE" >> $GITHUB_ENV
          echo "VCPKG_BINARY_SOURCES=clear;files,$GITHUB_WORKSPACE/vcpkg_cache,readwrite" >> $GITHUB_ENV
          if [[ "$RUNNER_OS" == "Windows" ]]; then
            echo "CMAKE_BUILD_PARALLEL_LEVEL=$NUMBER_OF_PROCESSORS" >> $GITHUB_ENV
          elif [[ "$RUNNER_OS" == "macOS" ]]; then
            echo "CMAKE_BUILD_PARALLEL_LEVEL=$(sysctl -n hw.physicalcpu)" >> $GITHUB_ENV
          else
            echo "CMAKE_BUILD_PARALLEL_LEVEL=$(nproc)" >> $GITHUB_ENV
          fi

      - name: Mark repo as safe for git
        run: git config --global --add safe.directory ${{ env.GITHUB_WORKSPACE }}

      - name: Install macOS dependencies
        if: runner.os == 'macOS'
        run:
          # for libsodium
          brew install autoconf automake libtool

      - name: Prepare Vulkan SDK
        if: runner.os == 'windows'
        uses: jakoch/install-vulkan-sdk-action@v1
        with:
          # debian testing version for now
          vulkan_version: 1.4.328.1
          cache: true
          install_runtime: true

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      # Setup the build machine with the most recent versions of CMake and Ninja. Both are cached if not already: on subsequent runs both will be quickly restored from GitHub cache service.
      - uses: lukka/get-cmake@latest
        with:
          # debian testing version as of 28/06/2025
          cmakeVersion: 3.31.6

      - name: Cache vcpkg
        uses: actions/cache@v4
        with:
          path: ${{ env.GITHUB_WORKSPACE }}/vcpkg_cache
          key: vcpkg-${{ env.CMAKE_PRESET }}-${{ hashFiles('vcpkg.json', 'vcpkg-configuration.json', 'vcpkg_overlay/**') }}

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgDirectory: '${{ env.GITHUB_WORKSPACE }}/vcpkg'
          vcpkgJsonGlob: '**/vcpkg.json'

      # On Windows runners, let's ensure to have the Developer Command Prompt environment setup correctly.
      # As used here the Developer Command Prompt created is targeting x64 and using the default the Windows SDK.
      # As stated in the readme: Supports Windows. Does nothing on Linux and macOS.
      - uses: ilammy/msvc-dev-cmd@v1

      - name: Configure CMake + vcpkg
        run: |
          cmake --preset ${{ env.CMAKE_PRESET }} .

      - name: Build
        run: |
          cmake --build --preset ${{ env.CMAKE_PRESET }} -v

      - name: Test
        run: |
          ./out/build/${{ env.CMAKE_PRESET }}/test/wato_tests
